.mainNav{
    position:sticky;
    top:0;
}
.requestLink,.regSuccess, .resetPass{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}
.requestLink div,.regSuccess div, .resetPass div{
    width:30%;
    justify-content:center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 53px -27px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 53px -27px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 53px -27px rgba(0,0,0,0.75);
    padding:30px 20px;
}
.requestLink div h1, .resetPass div h1{
    font-weight: lighter;
    letter-spacing: 1px;
    font-size:24px;
    margin-bottom: 10px;
}
.requestLink div input, .resetPass div input{
    width: 100%;
    box-sizing: border-box;
    width:100%;
    box-sizing: border-box;
    padding:8px 5px;
    margin-top: 10px;
    outline: none;
    border:1px solid var(--bg);
    border-radius: 5px;
}
.requestLink div button,.regSuccess div button,.resetPass div button{
    background-color: var(--bg);
    border:none;
    padding:6px 25px;
    cursor: pointer;
    color:#fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.regSuccess hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
.regSuccess .success,.requestLink .success{
    color:var(--bg);
    padding-bottom: 10px;
}
.requestLink .error, .resetPass .error{
    color:red;
    letter-spacing: 1px;
    display: block;
}

@media screen and (max-width:1100px) {
    .requestLink div, .resetPass div{
        width:60%;
    }
}
@media screen and (max-width:900px) {
    .requestLink div, .resetPass div{
        width:90%;
    }
    .requestLink div h1, .resetPass div h1{
        font-size: 20px;
    }
    .mobile{
        position: sticky !important;
        top:0 !important;
        z-index: 1000;
        background-color: #fff;
    }
}